// app global css in SCSS form
@font-face {
  font-family: gribakood;
  src: url(./fonts/LibreBarcode39-Regular.ttf);
}
@font-face {
  font-family: myribakood;
  src: url(./fonts/Ribakood_uus.ttf);
}

// declare a class which applies it
.gribakood {
  font-family: 'gribakood';
  font-size: 50px;
}
// declare a class which applies it
.myribakood {
  //font-family: 'myribakood';
  font-family: 'myribakood';
}
.ring_text {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 53px;
  background: #fff;
  //color: #c10015;
  text-align: center;
  font-size: 28px;
}
.ringpilt {
  object-fit: cover;
  height: 55px;
  width: 55px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.vaike_ringpilt {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}
.vaike_ring_text {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 38px;
  background: #fff;
  //color: #c10015;
  text-align: center;
  font-size: 20px;
}

//transitions
.slideInRight,
.slideOutRight {
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  -o-animation-duration: 0.4s;
}
